The cell below to prevent this error to happen when build SparkSession:FileNotFoundError: [WinError 2] The system cannot find the file specified

In [4]:
import os
os.environ['HADOOP_HOME'] = 'C:/tools/hadoop-3.2.0'
os.environ['JAVA_HOME'] = 'C:/tools/jdk-11.0.21'
os.environ['SPARK_HOME'] = 'C:/tools/spark-3.3.2-bin-hadoop3'

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql import functions as f

How define/create spark a local spark cluster outside of notebook, some of command as windows way commands:
1. Change the working directory to the spark directory: cd %SPARK_HOME%2. To start Spark Master:
bin\spark-class org.apache.spark.deploy.master.Master --host localho
3. Starting up a cluster
bin\spark-class org.apache.spark.deploy.worker.Worker spark://localhost:7077 --host localst
   S start worker in Spark Master Cluster (once this command run; you show CPU cores and Memory increased from 
   )t- Don't forget to stop worker and master cluste
E%

In [5]:
spark = SparkSession.builder \
    .master("spark://localhost:7077") \
    .appName('spark-sql') \
    .getOrCreate()

In [6]:
print(spark.sparkContext)

<SparkContext master=spark://localhost:7077 appName=spark-sql>

In [6]:
from pyspark.sql import types

green_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("ehail_fee", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("trip_type", types.IntegerType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [7]:
#read csv file as spark dataframe
green_df = spark.read \
    .option("header", "true") \
    .schema(green_schema)\
    .csv("green_dataset/green_tripdata_2020-01.csv")

green_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
green_df.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
#read csv file as spark dataframe
yellow_df = spark.read \
    .option("header", "true") \
    .schema(yellow_schema)\
    .csv("yellow_dataset/yellow_tripdata_2020-01.csv")

yellow_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [10]:
yellow_df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [11]:
set(green_df.columns) & set(yellow_df.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [12]:
#rename columns of green_df
green_df = green_df\
.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

green_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [13]:
#rename columns of yellow_df
yellow_df = yellow_df\
.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

yellow_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [14]:
set(green_df.columns) & set(yellow_df.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [14]:
common_columns = []

for col in green_df.columns:
    if col in yellow_df.columns:
        common_columns.append(col)

print(common_columns)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

In [15]:
#add new column which 'service_type', PySpark lit() function is used to add a constant value to a DataFrame column.
df_green_select = green_df\
.select(common_columns)\
.withColumn('service_type', f.lit('Green'))

df_green_select.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [17]:
#add new column which 'service_type', PySpark lit() function is used to add a constant value to a DataFrame column.
df_yellow_select = yellow_df\
.select(common_columns)\
.withColumn('service_type', f.lit('Yellow'))

df_yellow_select.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [18]:
# union all the two dataframes
df_trips_data = df_green_select.unionAll(df_yellow_select)
df_trips_data.show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2|2019-12-18 15:52:30|2019-12-18 15:54:39|                 N|         1|         264|         264|              5|          0.0|        3.5|  0.5|    0.5|      0.01|         0.0|                  0.3|        4.81|           1|                 0.0|       Green|
|       2|2020-01-01 00:45:58|2020-01-01 00:56:39|                 N|         5|          66|          65|              2|         1.28|       20.0|  0.0|    0.0|      4.06|         0.0|                  0.3|       24.36|           1|                 0.0|       Green|
|       2|2020-01-01 00:41:38|2020-01-01 00:52:49|                 N|         1|         181|         228|              1|         2.47|       10.5|  0.5|    0.5|      3.54|         0.0|                  0.3|       15.34|           1|                 0.0|       Green|
|       1|2020-01-01 00:52:46|2020-01-01 01:14:21|                 N|         1|         129|         263|              2|          6.3|       21.0| 3.25|    0.5|       0.0|         0.0|                  0.3|       25.05|           2|                2.75|       Green|
|       1|2020-01-01 00:19:57|2020-01-01 00:30:56|                 N|         1|         210|         150|              1|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|           1|                 0.0|       Green|
|       1|2020-01-01 00:52:33|2020-01-01 01:09:54|                 N|         1|          35|          39|              1|          3.0|       13.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.8|           1|                 0.0|       Green|
|       2|2020-01-01 00:10:18|2020-01-01 00:22:16|                 N|         1|          25|          61|              1|         2.77|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|           2|                 0.0|       Green|
|       2|2020-01-01 01:03:14|2020-01-01 01:29:45|                 N|         1|         225|          89|              1|         4.98|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.8|           2|                 0.0|       Green|
|       2|2020-01-01 00:04:11|2020-01-01 00:09:48|                 N|         1|         129|         129|              1|         0.71|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|           2|                 0.0|       Green|
|       2|2020-01-01 00:25:52|2020-01-01 00:32:16|                 N|         1|         129|          83|              1|          0.8|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|           2|                 0.0|       Green|
|       2|2020-01-01 00:47:32|2020-01-01 00:59:25|                 N|         1|          82|         173|              1|         1.52|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|           2|                 0.0|       Green|
|       1|2020-01-01 00:26:40|2020-01-01 00:40:42|                 N|         1|          74|          69|              1|          3.8|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|           2|                 0.0|       Green|
|       2|2020-01-01 00:38:47|2020-01-01 00:46:02|                 N|         1|          74|          41|              1|         1.12|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|           1|                 0.0|       Green|
|       2|2020-01-01 00:52:18|2020-01-01 01:09:58|                 N|         1|          41|         127|              1|         5.67|       19.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        20.3|           2|                 0.0|       Green|
|       2|2020-01-01 00:16:01|2020-01-01 00:26:40|                 N|         1|           7|         260|              1|         1.86|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|           2|                 0.0|       Green|
|       2|2020-01-01 00:21:15|2020-01-01 00:28:03|                 N|         1|           7|           7|              1|         1.42|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|           2|                 0.0|       Green|
|       2|2020-01-01 00:35:42|2020-01-01 01:02:00|                 N|         1|           7|         133|              1|        15.48|       43.0|  0.5|    0.5|      8.86|         0.0|                  0.3|       53.16|           1|                 0.0|       Green|
|       2|2020-01-01 00:39:51|2020-01-01 00:42:54|                 N|         1|         134|          28|              1|         1.15|        5.5|  0.5|    0.5|       1.0|         0.0|                  0.3|         7.8|           1|                 0.0|       Green|
|       1|2020-01-01 00:00:21|2020-01-01 00:10:19|                 N|         1|          89|          39|              1|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|           2|                 0.0|       Green|
|       1|2020-01-01 00:13:59|2020-01-01 00:21:31|                 N|         1|          66|          65|              3|          1.0|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|           2|                 0.0|       Green|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
only showing top 20 rows

In [19]:
df_trips_data.groupby('service_type').count()\
.show()

+------------+-------+
|service_type|  count|
+------------+-------+
|       Green| 447770|
|      Yellow|6405008|
+------------+-------+

In [20]:
df_trips_data.createOrReplaceTempView('trips_table')

In [21]:
spark.sql("""select service_type, count(1)
from 
    trips_table
group by 
    service_type""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       Green|  447770|
|      Yellow| 6405008|
+------------+--------+

In [22]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_table
GROUP BY
    1, 2, 3
""")

df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          33|2020-01-01 00:00:00|       Green|   155230.3800000001|              6140.75|                 4757.0|        18298.059999999994|                      660.71|                    3095.100000000062|          194160.69999999803|                              6190.5|        1.2879223963330135|      3.4087194832335888|
|         160|2020-01-01 00:00:00|       Green|             7639.55|                521.0|                   69.5|        48.400000000000006|                      227.19|                    92.70000000000009|           8610.839999999998|                                8.25|        1.2783505154639174|      3.9445266272189343|
|         168|2020-01-01 00:00:00|       Green|   32624.01000000001|               2020.5|                  471.5|                     421.8|           936.7500000000002|                     458.099999999999|           37065.51000000002|                               110.0|        1.1811680572109655|       4.530553901131626|
|           1|2020-01-01 00:00:00|       Green|               391.0|                  0.0|                    0.0|                     74.41|                         0.0|                                  1.2|                      466.61|                                 0.0|                      1.25|                     0.0|
|         260|2020-01-01 00:00:00|       Green|            88645.79|              3676.75|                 3632.0|         7702.620000000003|           801.2600000000001|                   2285.1000000000395|          107455.21999999903|                              742.25|        1.5758193934448523|      2.5840975736343594|
|          28|2020-01-01 00:00:00|       Green|  16996.980000000007|                933.0|                  140.5|        251.15999999999997|                      318.99|                   187.79999999999995|          18853.079999999994|                                11.0|        1.3952569169960474|       5.508122270742357|
|         220|2020-01-01 00:00:00|       Green|  20759.589999999993|               1272.0|                  214.0|                    353.94|           788.9100000000007|                   219.29999999999978|           23677.43999999999|                                60.5|                     1.075|       6.078499999999998|
|         191|2020-01-01 00:00:00|       Green|   24836.61999999999|              1235.25|                  144.0|         9.969999999999999|           411.5300000000001|                   218.39999999999958|           26858.51999999999|                                2.75|        1.2651162790697674|       8.111508951406652|
|         115|2020-01-01 00:00:00|       Green|             1960.14|                 29.0|                   14.0|                       0.0|                      434.52|                                 11.1|                     2448.76|                                 0.0|                      1.52|      14.539487179487178|
|          66|2020-01-01 00:00:00|       Green|            99963.99|               4168.0|                 3157.0|        16149.060000000007|                      228.81|                   1941.6000000000279|          131787.15999999925|                              7182.0|        1.4764687302590018|       3.823082202226629|
|         217|2020-01-01 00:00:00|       Green|             7338.41|                423.5|                   98.5|                     82.83|                      137.88|                    91.20000000000005|                     8200.17|                               24.75|        1.1933333333333334|       4.819556213017751|
|         139|2020-01-01 00:00:00|       Green|  13872.049999999992|               944.25|                   61.5|                      4.79|          353.42000000000013|                   125.99999999999996|           15363.96000000001|                                 0.0|        1.3448275862068966|       7.528632478632477|
|          41|2020-01-01 00:00:00|       Green|   241287.3900000001|              11204.0|                11127.5|        21337.230000000003|           3399.210000000002|                     6995.09999999968|          305592.62999999756|                             11485.0|        1.2222868650704857|      2.1482857626115264|
|         107|2020-01-01 00:00:00|       Green|   4348.849999999999|               299.75|                  16.55|                       2.5|                      247.09|                    41.70000000000003|           4956.439999999999|                                2.75|                       1.2|       8.247588652482271|
|          41|2019-12-01 00:00:00|       Green|                20.5|                  1.5|                    1.5|                       0.0|                         0.0|                   0.8999999999999999|          27.150000000000002|                                2.75|                       1.0|      1.2633333333333334|
|         254|2020-01-01 00:00:00|       Green|  35814.499999999985|              2336.75|                  215.0|                     11.26|          1600.8500000000008|                    352.4999999999985|           40336.71000000002|                                 0.0|        1.2430939226519337|       7.236776669224866|
|         178|2020-01-01 00:00:00|       Green|              4800.8|               266.25|                   40.5|                      4.16|          124.45999999999998|                    50.70000000000003|           5288.819999999999|                                 0.0|        1.2682926829268293|       4.158229665071769|
|         215|2020-01-01 00:00:00|       Green|            32751.54|               1993.5|                  150.0|                     47.47|           862.3900000000003|                   320.09999999999843|          36126.950000000004|                                 0.0|        1.2023121387283238|       6.570331588132636|
|         121|2020-01-01 00:00:00|       Green|  18831.289999999994|               1216.5|                  128.0|        196.23999999999998|          230.40000000000003|                    227.6999999999996|          20848.479999999996|                                2.75|        1.1111111111111112|                   4.545|
|          35|2020-01-01 00:00:00|       Green|   51364.22999999997|              3498.25|                  422.0|                     33.81|          1007.9800000000002|                                538.5|           56871.42000000003|                                 5.5|        1.1042183622828785|       5.437524084778416|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [23]:
output = "C:/Users/LENOVO/Desktop/Data-Engineering-Zoomcamp/Module5-Batch_Processing_Spark/data/report/revenue/"

In [24]:
print(output)

C:/Users/LENOVO/Desktop/Data-Engineering-Zoomcamp/Module5-Batch_Processing_Spark/data/report/revenue/

In [25]:
df_result.coalesce(1) \
    .write.csv(output, mode='overwrite')

In [26]:
green_df.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [28]:
green_df.createOrReplaceTempView('green_df_revenue')

In [29]:
green_df_revenue = spark.sql("""
select
    extract(HOUR FROM pickup_datetime) as hour,
    PULocationID as zone,
    sum(total_amount) as total_revenue,
    count(1) as count_records
from 
    green_df_revenue
group by 1, 2
order by 3 desc
""")

green_df_revenue.count()

4950

In [30]:
green_df_revenue\
.repartition(20)\
.write.format("parquet").mode('overwrite').save("trips_report/revenue/green")

In [31]:
yellow_df.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [32]:
yellow_df.createOrReplaceTempView('yellow_table_revenue')

In [33]:
yellow_df_revenue = spark.sql("""
select
    extract(HOUR FROM pickup_datetime) as hour,
    PULocationID as zone,
    sum(total_amount) as total_revenue,
    count(1) as count_records
from 
    yellow_table_revenue
group by 1, 2
order by 3 desc
""")

yellow_df_revenue.count()

5575

In [35]:
yellow_df_revenue\
.repartition(20)\
.write.format("parquet").mode("overwrite").save("trips_report/revenue/yellow")

In [52]:
green_df_revenue = spark.read.parquet('trips_report/revenue/green')
yellow_df_revenue = spark.read.parquet('trips_report/revenue/yellow')

In [36]:
yellow_df_tmp = yellow_df_revenue\
.withColumnRenamed('total_revenue', 'yellow_total_revenue')\
.withColumnRenamed('count_records', 'yellow_count_records')

green_df_tmp = green_df_revenue\
.withColumnRenamed('total_revenue', 'green_total_revenue')\
.withColumnRenamed('count_records', 'green_count_records')

In [37]:
# Full Outer join: Returns all rows from both DataFrames, including matching and non-matching rows.
df_join = yellow_df_tmp.join(green_df_tmp,on=['hour', 'zone'],how="outer") 
df_join.show(truncate=False)

+----+----+--------------------+--------------------+-------------------+-------------------+
|hour|zone|yellow_total_revenue|yellow_count_records|green_total_revenue|green_count_records|
+----+----+--------------------+--------------------+-------------------+-------------------+
|0   |1   |416.41999999999996  |4                   |null               |null               |
|0   |3   |105.44              |4                   |160.55             |4                  |
|0   |4   |15387.09            |852                 |null               |null               |
|0   |5   |84.3                |1                   |null               |null               |
|0   |7   |4606.79             |342                 |7009.869999999993  |571                |
|0   |9   |155.74              |3                   |null               |null               |
|0   |10  |3701.91             |61                  |108.91             |5                  |
|0   |11  |10.8                |1                   |null               |null               |
|0   |12  |596.79              |22                  |null               |null               |
|0   |13  |13734.929999999997  |601                 |null               |null               |
|0   |14  |248.22              |8                   |246.70000000000002 |4                  |
|0   |15  |68.18               |2                   |null               |null               |
|0   |16  |199.08              |7                   |174.38             |5                  |
|0   |17  |1119.9              |64                  |807.27             |54                 |
|0   |18  |114.68              |8                   |535.01             |12                 |
|0   |19  |59.46               |3                   |null               |null               |
|0   |20  |33.74               |3                   |65.89999999999999  |8                  |
|0   |21  |null                |null                |85.15              |4                  |
|0   |22  |129.04999999999998  |6                   |99.19              |4                  |
|0   |23  |null                |null                |36.0               |1                  |
+----+----+--------------------+--------------------+-------------------+-------------------+
only showing top 20 rows

In [39]:
df_join.write.mode("overwrite").parquet('data/trips_joined_data')

In [40]:
# read zones file
zones_df = spark.read\
.option("header", "true")\
.csv('taxi+_zone_lookup.csv')
zones_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [41]:
# Inner join: Returns only matched rows between two dataframes
zones_df_join = df_join.join(zones_df, df_join.zone == zones_df.LocationID , how="inner")

In [42]:
zones_df_join.printSchema()

root
 |-- hour: integer (nullable = true)
 |-- zone: integer (nullable = true)
 |-- yellow_total_revenue: double (nullable = true)
 |-- yellow_count_records: long (nullable = true)
 |-- green_total_revenue: double (nullable = true)
 |-- green_count_records: long (nullable = true)
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [43]:
zones_df_join.drop('zone', 'LocationID').write.parquet('data/report/zones_revenue', mode='overwrite')